.container-loading {
  width: 150px;
  height: 90px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-loading img {
  width: 98%;
}
