.container-player {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-actions-buttons {
  width: 98%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.container-actions-buttons > :first-child {
  display: grid;
  width: 200px;
}

.container-actions-buttons .button-action {
  background-color: #141416;
  color: white;
}

.container-actions-buttons .button-action:hover {
  background-color: #3f3f3f;
}

.container-vol {
  width: 45%;
  margin-right: 11px
}
